*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(23, 23, 23); */
}
html,body{
    padding: 0%;
    margin: 0%;
}
p{
    font-size: larger;
    text-align: justify;
}
li{
    font-size: larger; 
}
.container{
    /* padding: 0%; */
    /* height: 100%;
    width: 100%; */
}
header{
    width: 100%;
}
.section-1{
    margin-top: 10%;
}
.name{
    padding-top: 10%;
    font-size:100px;
    font-family: Pacifico;
}
.para{
    font-size:50px;
    font-family: Pacifico;
    padding-left: .5%;
}
/* .mydesc{
    height: 100vh;
    padding:15%; 
    text-align: left;
} */
/* .row{
    height: 100vh;
} */

.navbar{
    position: sticky;
}
.Strength{
    margin-top: 20%;
}
/* .section-1{
    margin-top: 10%;
} */
.intro-section{
    margin-top: 1px;
    display: flex;
}
.sec-2{
    margin-top: 50px;
    display: inline;
}
.h-1{
    margin-top: 25px;
}

.image{
    display:inline;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}